section{
    background-color: rgb(245, 230, 182);
    width: 70vw;
margin: auto;
}
header{
    margin: auto;
    text-align: center;
    background-color: beige;
    font-family: "Parkinsans", sans-serif;
}
body{
    background-image: url(../images/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    font-family: "Raleway", sans-serif;
}
p{
    font-family: "Parkinsans", sans-serif;
}



@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
